# Git Ignore
**/static/uploads/*.mat
**/static/uploads/*.jpg
**/static/uploads/*.jpeg
**/static/uploads/*.png
**/static/outputs/*.png
**/static/history/*.png
**/file.pth
**/__pycache__/
.venv/
broken.venv/
.idea/
.vscode/
*.pyc
